@media screen and (width<576px){

    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }
    /* Header Section */
    header{
        height:8vh;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 12;
    }
    .navbar{
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        background-color: rgba(22, 34, 57, 0.95);
        padding: 5px;
        padding-top: 15px; 
    }
    .logo a{
      font-size:22px;  
    }
    .gs{
        text-decoration: none;
        color: white;
        font-size: 38px;
        font-weight: 600;
        font-family: 'Arial', sans-serif; 
    }
    .grade{
        color: #f5a425; 
        padding-right:10px;
    }
    .navcls{
        display: none;
    }
    .navcls li {
        /* list-style-type: none; */
        display:none;
    }
    .navcls li a{
        color:white;
        text-decoration: none;
        font-family: 'Arial', sans-serif; 
        padding: 10px;
    }
    .navcls li a:hover{
        border: 2px solid #f5a425;
    }








    /* Home Section */
    
    .home{ 
        margin-top: 5px;
        height: 100vh;
        width: 100vw; 
        background-color: rgba(38, 38, 72, 0.701);
        /* Prevents any content overflow */
    }
    .homevideo video{
        width: 100vw;
        height: 100vh;
        object-fit: cover; /* Ensures the video covers the entire viewport */
        position: absolute; /* Position the video absolutely */
        z-index: -3;
    }
    .home1{
        position: absolute;
        top: 15%;  /* Centers the text vertically */
        z-index: 2; /* Ensures the text is above the video */
        color: white; /* Set text color to make it stand out against the video */
        text-align: center;
        line-height: 1.5;
    }
    .home1 h6{
        display: none;
    }
    .home1 h1{
        font-size:32px;
        margin-top:65px;
    }
    .h1 span{
        font-size:32px; 
    }
    .btn1{
        margin-top: 2.5vh;
    }
    .btn1a{
        padding: 10px 15px;
        font-size: 14px;
        font-weight: 200;
    }
    .home2{ 
        position: absolute; 
        z-index: 2; /* Ensures the text is above the video */
        color: white;  
        line-height: 1; 
        display: flex;
        flex-direction: column;
        margin-top: -140px;
    } 
    .home2a,.home2b,.home2c{
        height: 55px;
        width: 250px;
        margin-right: 50px;
        margin-left:50px;
        border: 2px solid black;
        background-color: rgb(3, 3, 50);
        display:flex;
        flex-direction: column;
        justify-content: center; 
        text-align: center;
        margin-top: 5%;
    }
    .sp1,.sp2,.sp3{
        font-size: 16px; 
    }
    .p1,.p2,.p3{
        font-size: 14px;
    }
    .home2a a,.home2b a,.home2c a{
        font-size: 12px;
    } 










    




        /* Section 2  */
        .s2{
            background-image: url(bgimgs/choosing-bg.jpg);
            width:100%;
            height:100vh;
        }
        .s21a{
            width:100%;
            height:100vh;
        }
        .s21,.s22,.s23{
            width:100%;
            height:100vh;
            display: flex;
            flex-direction:column;
            margin-top:15px;
        }
        .s21 img{
            width:100px;
            height:100px;
        }
        .s22 img{
            width:10px;
            height:100px; 
        }
        .s23 img{
            width:100px;
            height:100px; 
        }
        .s21a, .s21b, .s21c{
            color: white;
            width:100%; 
        }
        .s21b h3{
            color: white;
            font-size:32px;
            margin-left:20px;
            font-weight:600;
        }
        .s21c h3{
            color: white;
            font-size:36px;
            margin-left:20px;
            font-weight:600;
        }
        .s21b p{
            color:white;
            margin-left:20px;
            margin-top:20px;
            font-size:14px;
        }
        .s21c p{
            color:white;
            margin-left:20px;
            font-size:14px;
        }
















        
        .s31{
            
            display: flex;
            flex-direction: column;
        }
        .s31 h1{
            width:100%;
            padding:20px 40px 20px 25px;
            font-size:28px;
        }
        .formbox{
            width:380px;
            height:420px;
            border: 2px solid rgba(255, 255, 255, 0.55) ;
            background-color: rgba(145, 145, 145, 0.146);
        }

        .formbox p{ 
            font: size 22px;
            padding: 15px;
        }
        .forms{
            margin-top: 25px;
        }
        .btn{
            color: white;
            padding:5px;
            background-color: #f5a425;
            margin-top: 15px;
            margin-left: 40%;
        }











        .s4{
            display:none;
        }






        


        .s51{ 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .s51a{
            width:95%;
        }
        .s5a1{
            display: none;
        }
        .s5a2{ 
            font-size:26px; 
        }
        .s5a3{
            font-size:26px;
            padding: 2px;
        }
        .s5a4{
            padding: 2px; 
            font-size:12px;
        }
        .s5a5{ 
            display:none;
        }
        .external{
            text-decoration:none;
            margin-top: -50px;
            padding: 10px;
            font-size:12px;
        }
        /* Center the thumbnail on the page */
        .thumbnail-container {
            margin-left:0; 
            width: 250px; 
            height:250px; 
        }
        .vt{
            margin-top: 10px;
            width:250px;
            height:250px;
        }











        


        .s6{
            width:100%;
            height:120vh;
        }

        .s6 h3{
            width:200px;  
            margin-top: 15px; 
            margin-left:20%; 
            font-size:18px;
            border:1px solid white;
        }

        .s61{
            margin-top:10px;
            display:flex;
            flex-direction: column;
            justify-content: center;
        }

        .formbox2{
            margin:auto;
            width:400px;
            height:380px; 
        }
        .fname{
            width:90%;
            margin :5%;
            margin-top:8%;
        }
        .fmail{
            width:90%;
            margin :5%;
            margin-top:2%;        
        }
        .fta{
            width:90%;  
            height:100px;
        } 
        .fbtn{
            margin:2%;
            margin-left:5%;
            padding:10px;
            font-size:14px;
            font-weight: 300;
        }

        .s6img{
            margin-left: 5%;
            margin-top:10px;
            width:400px;
            height:250px
        }






        
        footer{
            height:8vh;
            background-color: rgba(11, 11, 54, 0.947);
        }
        footer p{ 
            font-size:10px; 
        }
        













































}